
/*전체*/
*{
	padding:0;
	margin:0;
	list-style:none;

}

/*header*/
a:link,
a:visited{
	color:#000;
	text-decoration: none;
}
a:hover{
	border-bottom:3px solid orange;
	font-weight: bold;
}
header{

	height:150px;
	position:relative;
}
header #logo{
	position:absolute;
	top:-5%;
	left:5%;
}


#logo img{
	width:120px;
}


header ul{
	position:absolute;
	right:15%;
	top:70px;
}
header li{
	float:left;
	display:block;
	padding-right:50px;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	letter-spacing: 2px;
}

header #icon{
	position:absolute;
	right:3%;
	top:70px;
}
header btn{

}

/*section*/
section{
	height:80vh;
	/*background-color: lightyellow;*/
}


/*footer*/
footer{
	height:170px;
	background-color: #eee;
}

.row{
	position: relative;
}

.img_area{
	padding: 0;
	background-color: rgb(249,234,206);
	overflow: hidden;
	display: none;
	height: 700px;
}
.img_area>img{
	display: none;
	max-width: 100%;
}

.ment_area>img{
	display: none;
	position: absolute;
	right: 170px;
}

.showD_left:hover, .showD_right:hover{
	cursor: pointer;
}

.showDetails{
	font-family: 'Poiret One', cursive;
	text-align: center;
	display: none;
	align-items: center;
	justify-content: space-around;
	color: white;
}

.showDetails>img{
	width: 30px;
}

.showD_left{
	font-weight: bold;
	text-align: right;
	position: absolute;
	justify-content: flex-end;
	top: 350px;
	left: 425px;
	width: 100px;
	height: 50px;
	background-color: black;
	color: white;	
}

.showD_right{
	position: absolute;
	top: 350px;
	left: 525px;
	width: 200px;
	height: 50px;
	background-color: black;
}
.showD_right>span{
	color: black;
}

.color_change{
	background-color: white;
	color: black;
}