
/*전체*/
*{
	padding:0;
	margin:0;
	list-style:none;

}

/*header*/
header{
	width:100%;
	height:150px;
	font-size:16px;
	position:relative;
}

#hwraper{
	width:80%;
}

#hwraper a:link,
#hwraper a:visited{
	color:#000;
	text-decoration: none;

}
#hwraper ul a:hover{
	border-bottom:3px solid orange;
	font-weight: bold;
}

#hwraper #logo{
	position:absolute;
	top:10%;
	left:5%;
}

#hwraper .search{
	position:absolute;
	top:15%;
	right:4%;
	cursor: pointer;
}
#hwraper .searchbox{
	display:none;
	
}

#hwraper .search input{
	width:200px;
	height:30px;
	border-radius: 10px;
	outline: none;
	
}


#hwraper #icon{
	cursor: pointer;
}

#hwraper #icon a:hover{
	color:pink;
}
 
#logo img{
	width:120px;
}

#hwraper ul{
	position:absolute;
	right:15%;
	top:60%;
}

#hwraper li{
	float:left;
	display:block;
	padding-right:50px;
	font-family: 'Poiret One', cursive;
	font-size: 1.3rem;
	letter-spacing: 2px;
}

#hwraper #icon{
	position:absolute;
	right:3%;
	top:55%;
}

#hwraper #icon i{
	padding-right:10px;
}


/*section*/
section{
	height:80vh;
	/*background-color: lightyellow;*/
}


/*footer*/
footer{
	height:170px;
	position:relative;
}

footer #fwarper{
	width:60%;
	margin:0 auto;
	
}

#fwarper #lists{
	width:500px;
	float:left;
	margin-top:10%;
	
}

#fwarper li{
	float:left;

}
#fwarper li a{
	display:block;
	padding-right:20px;
	color:#656668;
	text-decoration: none;
	letter-spacing: 1.5px;
	font-size: 0.7rem;
	transition:all 0.3s;

}

#fwarper li a:hover{
	text-decoration: none;
	font-weight: bold;

}

#fwarper #btn{
	width:250px;
	text-align:center;
	float:right;
	margin-top:5%;

}
#fwarper #btn p{

	text-align: right;
	padding-top:15px;


}

#fwarper #btn p a{
	letter-spacing: 2px;
	text-decoration: none;
	color:#656668;
	transition:all 0.3s;

}

#fwarper #btn p a:hover{
	color:#000;
	font-weight: bold;
	background-color: #eee;
}

#indexBody{
	padding-top: 50px;
}

#first, #second, #third{
	display: none;
	position: relative;
}

.img_area{
	padding: 0 !important;
	overflow: hidden;
	display: none;
	height: 700px;
}

.cover{
	background-color: rgb(249,234,206);
	height: 700px;
}
.img_area>img{
	/*display: none;*/
	max-width: 100%;
}

.ment_area{
	display: none;
	position: absolute;
	right: 100px;
	background-color: white;
	height: 500px;
	box-shadow: 5px 0px 10px 2px rgb(153,153,153);
}

.ment_area>img{
	position: relative;
	top: 50px;
	max-width: 100%;
}

.showD_left:hover, .showD_right:hover{
	cursor: pointer;
}

.showDetails{
	font-family: 'Poiret One', cursive;
	text-align: center;
	display: none;
	align-items: center;
	justify-content: center;
	color: white;
}

.showDetails>img{
	width: 20px;
}

.showD_left{
	font-weight: bold;
	text-align: right;
	position: absolute;
	justify-content: flex-end;
	top: 400px;
	left: 385px;
	width: 100px;
	height: 50px;
}

.showD_right{
	position: absolute;
	top: 400px;
	left: 485px;
	width: 200px;
	height: 50px;
}

.show_ment{
	background-color: black;
	color: white;
}
.reverse_ment{
	background-color: white;
	color: black;
}

.spacer{
	height: 150px;
}
