
@media screen and (max-width: 800px) {
	#hnavi {
		display:none;
	}
	#icon{
		display:none;
	}

	.search{
		display:none;
	}

	@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
	



	label{
		display:block !important;
	}
	

	label .menu {
	  position: absolute;
	  right: -100px;
	  top: -100px;
	  z-index: 1;
	  width: 200px;
	  height: 200px;
	  background: #000;
	  border-radius: 50% 50% 50% 50%;
	  transition: .5s ease-in-out;
	  box-shadow: 0 0 0 0 #000, 0 0 0 0 #000;
	  cursor: pointer;
	}
	label .hamburger {
	  position: absolute;
	  top: 135px;
	  left: 50px;
	  width: 30px;
	  height: 2px;
	  background: #fff;
	  display: block;
	  -webkit-transform-origin: center;
	          transform-origin: center;
	  transition: .5s ease-in-out;
	}
	label .hamburger:after, label .hamburger:before {
	  transition: .5s ease-in-out;
	  content: "";
	  position: absolute;
	  display: block;
	  width: 100%;
	  height: 100%;
	  background: #fff;
	}
	label .hamburger:before {
	  top: -10px;
	}
	label .hamburger:after {
	  bottom: -10px;
	}
	label input {
	  display: none;
	}
	label input:checked + .menu {
	  box-shadow: 0 0 0 100vw #000, 0 0 0 100vh #000;
	  border-radius: 0;
	}
	label input:checked + .menu .hamburger {
	  -webkit-transform: rotate(45deg);
	          transform: rotate(45deg);
	}
	label input:checked + .menu .hamburger:after {
	  -webkit-transform: rotate(90deg);
	          transform: rotate(90deg);
	  bottom: 0;
	}
	label input:checked + .menu .hamburger:before {
	  -webkit-transform: rotate(90deg);
	          transform: rotate(90deg);
	  top: 0;
	}
	label input:checked + .menu + #labelul {
	  opacity: 1;
	}
	label #labelul {
		z-index:9999;
	    position:absolute;
	    top:220%;
		left:50%;
		 -webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: .25s 0s ease-in-out;
		text-align:center;
	
	 
	}

	
	label #labelul a {
	margin:4em 0;
	display: block;
	color: #fff !important;
	text-decoration: none;


	}

	label #labelul li a:hover{
		color:lightyellow !important;
		
	}
	
	#lists{
		display:none;
	}

	
	
	#fwarper #btn {
		position:absolute;
		bottom:15%;
	}
	#fwarper #btn p{

	text-align: center;
	padding-top:15px;


}
}