

@media screen and (max-width: 767px) {
	#hnavi {
		display:none;
	}
	
	#icon{
		display:none;
	}

	.search{
		display:none;
	}

 

	@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
	
	#mediaTog{
		display:block !important;
	}
	

	#mediaTog .menu {
	  position: absolute;
	  right: -30px;
	  top: -40px;
	  z-index: 100;
	  width: 100px;
	  height: 100px;
	  background: #000;
	  border-radius: 50% 50% 50% 50%;
	  transition: .5s ease-in-out;
	  box-shadow: 0 0 0 0 #000, 0 0 0 0 #000;
	  cursor: pointer;
	}
	#mediaTog .hamburger {
	  position: absolute;
	  top: 60px;
	  left: 30px;
	  width: 20px;
	  height: 2px;
	  background: #fff;
	  display: block;
	  -webkit-transform-origin: center;
	          transform-origin: center;
	  transition: .5s ease-in-out;
	}
	#mediaTog .hamburger:after, #mediaTog .hamburger:before {
	  transition: .5s ease-in-out;
	  content: "";
	  position: absolute;
	  display: block;
	  width: 100%;
	  height: 100%;
	  background: #fff;
	}
	#mediaTog .hamburger:before {
	  top: -10px;
	}
	#mediaTog .hamburger:after {
	  bottom: -10px;
	}
	#mediaTog input {
	  display: none;
	}
	#mediaTog input:checked + .menu {
	  box-shadow: 0 0 0 300vw #000, 0 0 0 600vh #000;
	  border-radius: 0;

	}
	#mediaTog input:checked + .menu .hamburger {
	  -webkit-transform: rotate(45deg);
	          transform: rotate(45deg);
	}
	#mediaTog input:checked + .menu .hamburger:after {
	  -webkit-transform: rotate(90deg);
	          transform: rotate(90deg);
	  bottom: 0;
	}
	#mediaTog input:checked + .menu .hamburger:before {
	  -webkit-transform: rotate(90deg);
	          transform: rotate(90deg);
	  top: 0;
	}
	#mediaTog input:checked + .menu + #labelul {
	  opacity: 1;
	}
	#mediaTog #labelul {
		z-index:100;
	    position:absolute;
	    top:220%;
		left:50%;
		 -webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: .25s 0s ease-in-out;
		text-align:center;
	
	 
	}

	
	#mediaTog #labelul a {
	margin:4em 0;
	display: block;
	color: #fff !important;
	text-decoration: none;
	transition:all 0.5s;


	}

	#mediaTog #labelul li a:hover{
		color:#eee !important;
		transform:scale(1.5);		
	}
	
	#lists{
		display:none;
	}

	
	#fwarper {
		margin:0 auto;
		width:80%;

	}
	#fwarper #btn {
		margin:0 auto;
		width:50%;
	    margin-right:20%;
	    margin-top:7%;
	
	}

	#fwarper #btn p{

	text-align: center;
	padding-top:15px;
	}

	#fwarper #btn p a{
   letter-spacing: 2px;
   text-decoration: none;
   color:#656668;
   transition:all 0.3s;
   font-size:1.5rem;

}
}