@charset "UTF-8";

.sub-menu{
  position:relative;
  float:left; /* optional   */
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
#sub-menu-category-image{
  position:absolute;
  left: -800px;
  max-width: 38%;
  transition: left 0.5s linear;
  z-index: 50;
}
#sub-menu-image{
  position:absolute;  
  left: 90%;
  max-width: 75%;
  transition: left 0.6s linear;
  z-index: 20;
}
@media screen and (max-width: 980px) {
  .sub-menu{
    height: 400px;
  }
  #sub-menu-category-image{
    max-width: 40%;
  }
  #sub-menu-image{
    max-width: 90%;
  }  
}
@media screen and (max-width: 700px) {
  .sub-menu{
    height: 300px;
  }
  #sub-menu-category-image{
    max-width: 40%;
  }
  #sub-menu-image{
    max-width: 90%;
  }  
}
@media screen and (max-width: 600px) {
  .sub-menu{
    height: 240px;
  }
  #sub-menu-category-image{
    max-width: 40%;
  }
  #sub-menu-image{
    max-width: 90%;
  }  
}
@media screen and (max-width: 450px) {
  .sub-menu{
    height: 200px;
  }
  #sub-menu-category-image{
    max-width: 40%;
  }
  #sub-menu-image{
    max-width: 90%;
  }  
}
.grid-list-item{
  width: 100%;
  height: 100%;
  margin-top: 140px;
  margin-bottom: 40px;
  /*border: 1px solid red;*/
}
.grid-list-item-view1{
  transition: margin-top 0.3s linear;
}
.grid-list-item-view2{
  transition: margin-top 0.4s linear;
}
.grid-list-item-view3{
  transition: margin-top 0.6s linear;
}
.grid-list-item-view4{
  transition: margin-top 0.9s linear;
}
.grid-list-item a{
  color: #000;
  text-decoration: none;  
}
.grid-list-item-image{
  margin-bottom: 10px;
  height: 100%;
  overflow: hidden;
}
.item-image{
  max-width: 100%;
}
.item-shadow{
  box-shadow: 0px 0px 15px 0 #cecece;
}
.item-title1{
  font-size:15px;
  font-weight: bold;
}
.item-title2{
  font-size:12px;
}
.item-price{
  float: right;
  font-size:10px;
  font-weight: bold;
  margin-left:10px;
}
.blank-line{
  height:50px;
}
.grid-list-item-page{
  /*margin-left: 180px;*/
  font-size: 15px;
}
.grid-list-item-page li{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.grid-list-item-page-disabled{
  color: #cecece;
}
.grid-list-item-page-enabled{
  color: black;
  cursor: pointer;
}